@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.bcg {
  background: url('../img/Rectangle\ 1.jpg');
  width: 100%;
  height: 436px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.time {
  display: flex;
  flex-direction: row;
}
h1 {
  text-align: center;
  text-transform: uppercase;
}

.numbers {
  align-items: center;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 100px;
  line-height: 150px;
  display: flex;
  flex-direction: row;
}

p {
  margin-left: 50px;
  margin-right: 50px;
  font-weight: 500;
}

.n-text {
  text-align: center;
  letter-spacing: 1.5px;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  margin-left: 20px;

  }

  .parent {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  @media screen and (max-width: 375px) { 


    .bcg {
      display: flex;
      align-items: center;
    }
    h1 {
      margin: 0 25px;
      margin-bottom: 100px;
    }

    .numbers {
      font-size: 40px;
      line-height: 60px;

    }

    p {
      margin-left: 10px;
      margin-right: 10px;
      font-weight: 800;
    }

    .n-text {
      font-size: 12px;
      line-height: 18px;
      display: flex;
      align-items: center;
      margin-left: 0px;
    
      }

      h3 {
        display: none;
      }

      p {
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 300;
      }


  
    
  }